

.tab-wrapper {

}

.tab-menu li {
  position:relative;
  /*color:#ffffff;*/
  display: inline-block;
  padding: 20px 40px;
  opacity: 0.9;
  cursor:pointer;
  z-index:0;
  font-size:17px;
}
.tab-menu li{
    color:#ffffff;
    opacity: 0.5;
}
.tab-menu li:hover {
  color:#ffffff;
  opacity: 0.9;
}

.tab-menu li.active {
  color:#ffffff;
  opacity: 0.9;
}

.tab-menu li.active:hover {


}

.tab-content>div {


}

.line {
  
}


